<table class="table table-light table-hover">
  <thead class="thead-light">
    <tr>
      <th>S.no</th>
      <th>Employee Name</th>
      <th>Employee ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>person 1</td>
      <td>MG-123</td>
    </tr>
    <tr>
        <td>2</td>
        <td>person 2</td>
        <td>MG-123</td>
    </tr>
    <tr>
        <td>3</td>
        <td>person 3</td>
        <td>MG-123</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
    </tr>
  </tfoot>
</table>
