
<!-- {{ allReviews | json}} -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="message" class="mb-2"><strong>Enter a Review</strong></label>
      <textarea class="form-control" name="personReview" id="" rows="4"
       #newReview placeholder="Write a review" required></textarea>
      <button type="button" class="btn btn-outline-primary mt-2" (click)="onSubmit(newReview.value)">Submit</button>
    </div><br>

    <!-- <ng4-loading-spinner [threshold]="0" [timeout]="2000" [template]="template" [loadingText]="'Please wait...'" [zIndex]=""> </ng4-loading-spinner> -->

    <div class="status">
      <label for="name"> <strong>Review Status</strong></label>
      <div *ngFor="let p of personReview">
          <p>{{p}}</p>
        </div>

      <div class="icons .hvr-radial-out">
        <img src="https://s3-us-west-2.amazonaws.com/www.breadware.com/spinner.gif" alt="loading.gif">

        <div class="spinner" *ngIf="showSpinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <a href="#" class="hvr-icon-grow" *ngIf="good">
            <i class="far fa-thumbs-up fa-3x hvr-icon"></i>
            <p>Positive</p>
        </a>
        <a href="#" class="hvr-icon-grow" *ngIf="bad">
            <i class="far fa-thumbs-down fa-3x hvr-icon "></i>
            <p>Negative</p>
        </a>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <button type="button" name="" class="btn btn-primary btn-lg btn-block">Reviews</button>
    <ul class="list-group m-1" *ngFor="let rev of allReviews">
      <li class="list-group-item d-flex justify-content-between align-items-center ">
        <span class="badge badge-danger badge-pill">{{rev.confidence}}%</span>
        {{rev.review}}
      </li>
    </ul>
  </div>
</div>
