
<ngb-tabset type="pills" >
  <ngb-tab  *ngFor= "let item of bakers" title="{{item.name}}">
    <ng-template ngbTabContent>
        <h3>Batters</h3>
      <table class="table table-light">
        <thead>
            <tr>
              <th>ID</th>
              <th>type</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let val of item.batters.batter">
          <td>{{val.id}}</td>
          <td>{{val.type}}</td>
        </tr>
      </tbody>
    </table> <hr>

    <h3>Topping</h3>
    <table class="table table-light">
      <thead>
          <tr>
            <th>ID</th>
            <th>type</th>
          </tr>
        </thead>
    <tbody>
      <tr *ngFor="let val of item.topping">
        <td>{{val.id}}</td>
        <td>{{val.type}}</td>
      </tr>
    </tbody>
  </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
