

.emp-card{
  background: rgb(26, 36, 70);
  color: #fff;
  height: 15vh;
}
.emp-card img{
  width: 50px;
  border-radius: 50%;
  margin-top: 5px;
}
.navbar{
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  /* overflow: scroll; */
}
.navbar ul {
  text-align: start;
}
.nav-link:hover{
  color: #fff;
}
.nav-link  {
  color: gray;
}
.nav-link i {
  color: gray;
}
.percentage img{

  width: 100px;
}
