
<div class="blog mt-3">
  <div class="left-blog">
      <div class="blog-head">
          <h1 class="display-2 text-center animated fadeIn"> MAGURE </h1>
      </div>
      <p class="lead p-3 animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

      <h3 class="display-4 text-center">Thank You for Joining Us</h3>
      <div class="row text-center">
        <div class="col-md-6 border-right list-blog">

        </div>
        <div class="col-md-6 list-blog">
            content
          </div>
      </div>
      <button type="button" class="btn btn-outline-secondary btn-md">home</button>
  </div>

</div>
