
<div class="row">
  <div class="col-md-4 offset-md-2">
    <form>
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" placeholder="your name">
      <label for="name">Email</label>
      <input id="email" class="form-control" type="email" placeholder="Enter Your Email">
    </form>

    <button class="btn btn-md btn-outline-primary m-2" (click)="openVerticallyCentered(content)">Place Your Order</button>
  </div>
</div>
  <ng-template #content let-modal>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>

